@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --background-color: #0f0f23;
  --foreground-color: #ccc;
  --accent-color: #99ff99;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  padding: 1rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--accent-color);
}

#leaderboard-header {
  display: flex;
  justify-content: space-between;
}

#leaderboard-header-info {
  display: flex;
}

.shiny {
  text-shadow: 0 0 2px var(--accent-color), 0 0 5px var(--accent-color);
}

.star {
  color: yellow;
}

ul {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

li {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border: 1px solid var(--accent-color);
  padding: 0.8rem;
}

.user-item {
  display: flex;
  gap: 0.2rem;
}

.user-name {
  font-weight: bold;
}

footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  line-height: 1.5;
}
